div.description p {
    font-size: 16px !important;  /* Define o tamanho da fonte */
    margin: 1rem 0 0 0 !important; /* Define as margens do parágrafo */
}

.location {
    opacity: .7;
    margin: 0 3px;
}

.vertical-line {
    border-left: 8px solid var(--purple-wellow);
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transition: border-color 0.3s ease;
}

.relative:hover .vertical-line {
    border-color: rgb(89, 27, 127);
}

.border-box {
    border: 1px solid #440767;
    transition: border-color 0.3s ease;
}

.border-box:hover {
    border: 1px solid #24152d;
    /* Nova cor da borda quando o mouse está sobre a caixa */
}

.btn-secondary {
    background-color: #8566c2;
    /* Cor roxa mais clara */
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.9s ease;
}

.btn-secondary:hover {
    background-color: #6a4eaa;
    /* Cor roxa mais escura no hover */
}

.btn-primary {
    background-color: var(--purple-wellow);
    /* Cor roxa */
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.9s ease;
}

.btn-primary:hover {
    background-color: #4B0672;
    /* Cor roxa mais escura no hover */
}

div.hoverdiv:hover {
    background-color: #fdfbff;
}